.blog, .single-post, .archive {
	#wrapper-navbar.header-dark .navbar {
		background-color: $primary;
		
		a {
			color: white;
		}
		.btn {
			border-radius: 0;
		}
		&.affix {
			padding: 0 !important;
			border: none;
		}
	}
	blockquote {
		margin: 3em 0;
		p {
			font-size: $h2-font-size-sm;
			color: $primary;
			text-align: center;
			font-style: italic;
		}
	}
}
.blog, .archive {
	.entry-content {
		min-height: 190px;
	}
	.entry-footer {
		position: absolute;
		bottom: 1em;
		color: $gray-500;
	}
	.text-muted {
		color: lighten( $primary, 20 ) !important;
	}
}